.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination__page-changer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(243, 243, 243);
    width: 220px;
}
