.films-search {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn {
    flex-grow: 1;
    margin-left: 15px;
  }
}

.films-search__input,
.films-search__select {
  text-align: center;
  outline: none;
  height: 40px;
  border-radius: 7px;
  &-title {
    width: 50%;
  }

  &-year {
    width: 10%;
  }

  &-type {
    width: 10%;
  }
}

.films-search__select {
  -webkit-appearance: menulist-button;
  height: 46px;
}
