.app {
  background-color: #333;
  width: 80%;
  box-sizing: border-box;
  max-width: 1335px;
  margin: 0 auto;
  padding: 25px 25px 25px 25px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
